body{
    background-color: midnightblue;
    font-family: 'Aleo', serif;
}
#main-container{
    width: 30%;
    margin: auto;
    margin-top: 2%;
    font-size: 1.5rem;
    background-color: rgb(38, 38, 135);
    padding: 1rem;

}
h4{
    color: white;
}


.field-container{
    padding: 0.5rem;
    margin-top: 0.5rem;
    background-color: rgb(64, 102, 171);
}
.field-container p{
    color: rgb(35, 230, 230);
    margin: 0;
}
input{
    background-color:  rgb(64, 102, 171);
    border: 0;
    border-bottom: 2px solid rgb(35, 230, 230);
    width: 100%;
    font-size: 1.5rem;
    font-family: 'Aleo', serif;
    color: white;
}
button{
    
    width: 70%;
    background-color: rgb(35, 230, 230);
    border-radius: 0%;
    font-family: 'Aleo', serif;
    color: rgb(64, 102, 171);
    font-size: 2rem;
    border: 0;
    margin-top: 1rem;
    cursor: pointer;

}
#modal{
    background-color:  rgba(47, 62, 88, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    visibility: hidden;

}
#modal.visible{
    visibility: visible;

}

.modal-container{
    width: 40%;
    background-color: rgb(107, 139, 198);
    border: 6px solid  rgb(255, 73, 137);
    margin: auto;
    margin-top: 5%;
}

#modal-text{
    color: white;
    font-size: 1.5rem;
    text-align: center;
}
#close-modal{
    color: white;
    text-decoration: underline;
    text-align: center;
    font-size: 1rem;
    
}

#close-modal:hover{
    color: rgb(255, 73, 137);
    cursor: pointer;
}